body{
background-image: url(../img/cordillera.jpg);
background-size: cover;
background-attachment: fixed;
}

.formulario{
background: rgba(0,0,0, .2);
padding :23px;
border-radius: 10px;
box-shadow: 0 0 30px rgba(0,-0,-0,0.568);
color: white;

}

ol{
list-style: none;  
display:grid;  
grid-template-columns: repeat(7,1fr);
}
